<div 
  class="app-container" 
  [ngClass]="{
    'flex-row-reverse': position() === 'right',
    'flex-col': position() === 'top',
    'flex-col-reverse': position() === 'bottom'
  }"
  [style.--sidebar-width]="(position() === 'top' || position() === 'bottom') ? '100%' : width() + 'px'"
>
  <!-- Sidebar -->
  @if (isVisible()) {
    <app-sidebar></app-sidebar>
  }

  <!-- Floating Trigger when Sidebar is Hidden -->
  @if (!isVisible()) {
    <button class="floating-trigger" (click)="showSidebar()">
      <lucide-icon [img]="LayersIcon" size="20"></lucide-icon>
    </button>
  }

  <!-- Main Content Area -->
  <div class="main-wrapper">
    
    <!-- Header Restore Trigger (When hidden) -->
    @if (!isHeaderVisible()) {
      <div class="header-restore-trigger-wrapper group">
        <button class="header-restore-trigger" (click)="toggleHeader()">
          <lucide-icon [img]="ChevronDownIcon" size="16"></lucide-icon>
        </button>
      </div>
    }

    <!-- Header -->
    @if (isHeaderVisible()) {
      <app-header></app-header>
    }

    <!-- Router Outlet (Content) -->
    <main class="content-area" [class.bg-dark-opacity]="isVisible()">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
